<html>
	<body>
		<h1>Hi {{TPL_USERNAME}}!</h1>

		<p>You have received this message, because an account has been created on {{TPL_APPNAME}} using your e-mail address, and this website requires you to confirm that this address is valid.<br />Please, click on the link below to activate your account:</p>
		<a href="{{TPL_ACTURL}}">{{TPL_ACTURL}}</a>
		<br />
		<p>If you did not register on our site, please ignore this e-mail.</p>
		<br />
		<b>Best regards</b><br />
		<b>{{TPL_APPNAME}} Team</b>
	</body>
</html>